<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Welcome to Yelp Data Comparator!</title>
    <link href="{{ url_for('static', filename='css/index.css') }}" rel="stylesheet" type="text/css"/>
</head>
<body>
    <h1>
        <a href="/"> Welcome to Yelp Data Comparator! </a>
    </h1>
    <h2 class="introduction">About</h2>
    <p class="introduction">
        Hello! My name is Riddhi Vaidya, and this is my submission for 507 Final Project for Winter Semester of 2020.
        My project is based on the Yelp Data Set and Yelp Fusion APIs, both of which are publicly available for consumption.
        The Yelp Data Set comprises of millions of records, but for the purpose of this project, I am relying primarily on
        the business data which comprises of roughly 200,000 records in JSON format. These records contain information about
        business spanning across around 1300 cities and metropolitan areas but is a little bit outdated. On the other hand,
        Yelp Fusion API provides access to the most updated data about different business available to Yelp. <br/>

        <br/>
        The purpose of my project is to provide a graphical comparsion about how businesses in a given city/metropolitan region/zip-code
        fare across the cities in rest of North America.
    </p>

    <p class="get_started">
        <a href="/query">Get Started</a>
    </p>

    </p>
</body>
</html>